# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
/.idea.BIOSbattle.iml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\korij\Documents\GamesUnity\ClickerGitHub\BIOSbattle\BIOSbattle\.idea\.idea.BIOSbattle\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
